<section class="mt-2">
    <p class="title pb-2 border-bottom">Entregable: <%= entregable.nombre %> </p>
    <div id="detalles">
        <% 
            // DEFINIR SI LA TAREA HA SIDO TARDIA
            entregable.fechaLimiteVencida = new Date(entregable.fecha_limite) <= new Date() 
        %> 
        <%- include('./infoEntregable.component.ejs') %> 
        <div class="row d-flex justify-content-around mt-4 ml-0 mr-0">
            <%- include('./entregable-entrega.component.ejs') %> 
            <%- include('./entregable-recepcion.component.ejs') %> 
        </div>
    </div>
</section>