<div class="pt-2 mx-auto row col-12 justify-content-between d-flex flex-column flex-md-row border-bottom">

    <div class="col-md-2 mb-2">
        <a href="/alumno/misProyectos/" class="btn btn-block btn-outline-secondary">Regresar al proyecto</a>
    </div>
    <div class="col-md-4 justify-text">
        <h2>PLANEACIÓN</h2>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-between">
        <div>
            <p class="font-weight-bold">Fecha de inicio:</p>
            <p>2021-04-01</p>
            <p class="font-weight-bold">Fecha de finalizacion:</p>
            <p>2021-04-12</p>
        </div>
        <div>
            <p class="font-weight-bold">Estado:</p>
            <p>FINALIZADA </p>
        </div>
    </div>
    <div class="col-md-2 mb-2">
        <a href="#" class="btn btn-block btn-outline-primary">Editar etapa</a>
        <button id="btnEliminarEtapa" class="btn btn-block btn-outline-danger">Eliminar etapa</button>
    </div>
</div>