<div class="table-responsive">
  <table class="table table-hover">
                  <thead>
                    <tr>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Fecha de Inicio</th>
                        <th scope="col">Fecha límite</th>
                        <th scope="col">Fecha Fin</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</tr>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Corregir modelo E</td>
                      <td>14/03/2021</td>
                      <td>19/03/2021</td>
                      <td>24/03/2021</td>
                      <td>Terminar las correcciones necesarias en el modelo ER</td>
                      <td>
                       <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Definir colores</td>
                      <td>14/03/2021</td>
                      <td>19/03/2021</td>
                      <td>24/03/2021</td>
                      <td>Terminar con la definición de colores para el lenguaje de diseño</td>
                      <td>
                       <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a> 
                      </td>
                    </tr>
                    <tr>
                      <td>Crear Repositorio</td>
                      <td>14/03/2021</td>
                      <td>19/03/2021</td>
                      <td>24/03/2021</td>
                      <td>Terminar con la creación del repositorio de Git-Hub para el alojamiento del proyecto</td>
                      <td>
                       <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a>
                      </td>
                    </tr>
                    <tr>
                        <td>Enviar Documento</td>
                        <td>14/03/2021</td>
                        <td>19/03/2021</td>
                        <td>24/03/2021</td>
                        <td>Realizar el envío del documento final para revisión</td>
                        <td>
                        <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
    </div>
</div>
</div>
