<div class="contenido">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="container">
                <h2>Total de tareas pendientes: 4</h2>   
                <br><br>    
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Fecha de asignación</th>
                      <th>Estado</th>
                      <th>Proyecto</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Corregir modelo E</td>
                      <td>14/03/2021</td>
                      <td>PENDIENTE</td>
                      <td>Proyecto 1</td>
                      <td>
                       <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Definir colores</td>
                      <td>05/05/2021</td>
                      <td>PENDIENTE</td>
                      <td>Proyecto 2</td>
                      <td>
                       <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a> 
                      </td>
                    </tr>
                    <tr>
                      <td>Crear Repositorio</td>
                      <td>07/05/2021</td>
                      <td>PENDIENTE</td>
                      <td>Proyecto 1</td>
                      <td>
                       <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a>
                      </td>
                    </tr>
                    <tr>
                        <td>Enviar Documento</td>
                        <td>23/05/2021</td>
                        <td>PENDIENTE</td>
                        <td>Proyecto 2</td>
                        <td>
                        <a href="/alumno/misTareas/Tarea" class="btn btn-primary">Ver Tarea</a>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
    </div>
</div>
</div>