<nav>
    <ul>
        <li>
            <a href="/" class="<%= pageTitle == 'Inicio' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-home"></i>
                <span>Proyectos</span>
            </a>
        </li>
        <li>
            <a href="/clientes" class="<%= pageTitle == 'Clientes' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-users"></i>
                <span>Tareas</span>
            </a>
        </li>
        <li>
            <a href="#" class="<%= pageTitle == 'Recibos' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-file-invoice-dollar"></i>
                <span>Notificaciones</span>
            </a>
        </li>
        <li>
            <a href="#" class="<%= pageTitle == 'Extra' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-tasks"></i>
                <span>Cerrar sesión</span>
            </a>
        </li>
    </ul>
</nav>