<div class="sidenav text-center">
    <img class="rounded-circle img-fluid img-profile" src="./public/img/gato.jpg">
    <h2 class="display-6">Bienvenido, <%= username -%></h2>
    <br><br>
    <div class="align-items-center minh-100">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="#">Mis proyectos</a></li>
            <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="#">Mis tareas</a></li>
            <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="#">Notificaciones</a></li>                
            <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="#">Cerrar sesi&oacute;n</a></li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-sm bg-primary navbar-primary fixed-top d-lg-none">
    <a class="navbar-brand" href="#">
        <img src="/public/img/gato.jpg" class="img-fluid" alt="logo" style="width:40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav w-100 justify-content-between">
            <li class="nav-item">
            <a class="nav-link text-white" href="#">Mis proyectos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="#">Mis tareas</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="#">Notificaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Cerrar sesi&oacute;n</a>
            </li>
        </ul>
    </div>
</nav>
