<h2 class="display-4"><%= detalles.nombre_proyecto %></h2>
<div class="row align-items-center">
    <div class="col-lg-8 col-sm-12">
        <h4>Descripci&oacute;n</h4>
        <p><%= detalles.descripcion %></p> 
    </div>
    <div hidden id="id_proyecto"><%= detalles.id_proyecto %></div>
    <div class="col-lg-4 col-sm-12">
        <div class="row col-lg-6 col-sm-12 mt-3 justify-content-center">
            <p class="col-lg-12 col-sm-4"><strong>Responsable: </strong>Alumno responsable</p>
            <p class="col-lg-12 col-sm-4"><strong>Fecha inicio: </strong><%= detalles.fecha_inicio %></p>
            <p class="col-lg-12 col-sm-4"><strong>Fecha fin: </strong>12/12/2021</p>
        </div>
    </div>
</div>