<div class="row justify-content-center">
  <div class="container">
      <h2>Datos generales</h2>
      <br><br>
      <form action="/action_page.php">
        <div class="form-group">
          <label for="nombreproyecto">Nombre del proyecto:</label>
          <input type="" class="form-control" id="nomp" placeholder="Introducir nombre del proyecto" name="nomp">
        </div>
        <div class="form-group">
          <label for="comment">Descripción:</label>
          <textarea class="form-control" rows="5" id="comment" placeholder="Introducir descripción del proyecto" name="text"></textarea>
        </div>
        <label for="start">Fecha de Inicio:</label>
          <input type="date" id="start" name="trip-start" value="2021-01-01" min="2018-01-01" max="2021-12-31">
      <br>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option selected>Materia</option>
          <option value="1">Modelos de Desarrollo Web</option>
          <option value="2">Inteligencia Artificial</option>
          <option value="3">Control de calidad de Software</option>
        </select>
        <div class="form-group">
          <label for="">Equipo:</label>
          <input type="" class="form-control" id="" placeholder="Introduce a un miembro del equipo" name="">
          <br>
          <input type="" class="form-control" id="" placeholder="Introduce a un miembro del equipo" name="">
          <br>
          <input type="" class="form-control" id="" placeholder="Introduce a un miembro del equipo" name="">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Crear Proyecto</button>
    </form>
  </div>
</div>