<%- include('../template/head.ejs') %>
<div class="main-grid">
    <%- include('../template/header.ejs') %>
    <main>
        <section>
            <header>
                <span class="title">MIS PROYECTOS</span>
                <a href="#" class="btn btn-primary">Nuevo Proyecto</a>    
            </header>
            <main>
                <div class="custom-card">
                    <img src="" alt="">
                    <span>Proyecto 1</span>
                    <div class="two-colum-grid">
                        <div class="custom-row">
                            <span>Materia:</span>
                            <span>Modelos de Desarrollo Web</span>
                        </div>
                        <div class="custom-row">
                            <span>Evaluador:</span>
                            <span>Mario Anzures</span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-outline-primary">Ver Proyecto</a>
                </div>
            </main>
        </section>
    </main>
</div>
<%- include('../template/footer.ejs') %>