<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../template/head'); %>
    <link rel="stylesheet" href="public/css/dashboard.css">
</head>
<body>
    <!-- Aquí va la sidebar y el nombre de usuario-->
    <%- include('../template/navProfesor'),username; %>
    <!-- Aquí termina sidebar-->
    <div class="content">
        <div class="container-fluid">
            <h1>Proyectos activos</h1>
            <!-- Aquí van los proyectos divididos en materias -->
            <%- include('../template/project_card.ejs'),subjects; %>
            <!-- Aquí  terminan los proyectos divididos en materias -->
    </div>
</body>
</html>