<%- include('../template/head'); %>
<div class="main-grid">
    <%- include('../template/header.ejs') %>
    <main>
        <section>
            <header>
                <span class="title">MATERIAS</span>   
            </header>
            <main>
                <div class="content h-100">
                    <div class="container-fluid h-100">
                        <div class="row h-100">
                            <div class="col-lg-8 col-sm-12">
                                <div class="row container">
                                    <div class="row col-lg-6 col-sm-12 align-items-center">
                                        <h1 class="display-4">Proyecto 1</h1>
                                    </div>
                                    <div class="row col-lg-6 col-sm-12 mt-3">
                                        <p class="col-12"><strong>Responsable: </strong>Alumno responsable</p>
                                        <p class="col-12"><strong>Fecha inicio: </strong>03 - 12 - 2021</p>
                                        <p class="col-12"><strong>Fecha fin: </strong>03 - 12 - 2021</p>
                                    </div>
                                </div>
                                <div class="container mt-5  col-sm-12">
                                    <h1 class="display-4">Descripci&oacute;n</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptates adipisci 
                                        inventore suscipit sint. Voluptate fuga vitae aperiam numquam accusantium pariatur sapiente!
                                        Corporis quae molestiae doloribus, atque maiores quasi aut?
                                    </p>
                                </div>
                            </div>
                
                            <div class="row col-lg-4  col-sm-12 align-items-center text-center">
                                <div class="container">
                                    <button class="btn btn-primary btn-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg>
                                    Asignaci&oacute;n de tareas
                                    </button>
                                </div>
                                <div class="container">
                                    <button class="btn btn-primary btn-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                        </svg>
                                        Reporte general
                                    </button>
                                </div>
                                <div class="container">
                                    <button class="btn btn-primary btn-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg>
                                    Cierre
                                    </button>
                
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
</div>
<%- include('../template/footer.ejs') %>