<%- include('../template/head'); %>
<!-- Aquí va la sidebar y el nombre de usuario-->
<%- include('../template/navProfesor'),username; %>
<!-- Aquí termina sidebar-->
<div class="content">
    <div class="container-fluid">
        <h1>Proyectos activos</h1>
        <!-- Aquí van los proyectos divididos en materias -->
        <%- include('../template/subject_card.ejs'),projects; %>
        <!-- Aquí  terminan los proyectos divididos en materias -->
</div>
</body>
</html>